body{
    background: #F9F9F9;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1,h2{
color: #66bfbf;
}

h1,h3{
    text-align: center;
}

/*Top section*/
.top{
    justify-content: space-between;
    padding: 25px 10px 15px;
}


.avatar{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    height: auto; 
    }

/*Middle section*/
/*.experience{
    display: flex;
    flex-direction: column;
}

.education{
    display: flex; Just fitting into flexbox layout however the wrap wouldn't do anything as there is only ne div in this section
    flex-wrap: wrap;
    flex-direction: column;
} Commenting out these section as I am using flex from Bootstrap
*/


/*horrizontal rule / separators*/
hr{
    border-style: dotted none none; /*top border is dotted, then left and right are none, so no border, and bottom is none*/
    border-color: #2B4865;
    border-width: 5px; /*this defines the width of the dots*/
    /*width: 20%  Deleting percentage from here as I set up a width in Bootstrap class for the hr*/
}

.roles{
    text-decoration: underline;
    font-weight: 900;
}

.headings{
text-shadow: 2px 2px 5px #A5F1E9;
}


/*Skills section styling*/
.skill-wrapper{
    /*display: inline-flex; Display of the child boxes will be inline, or next to each other
    justify-content:space-between; /*Adding a space between each element/box
    flex-wrap: wrap; Allows the elements to wrap when on smaller screen widths, meaning tha one element might move down to fit screen*/
}

.skill-wrapper div{
    border: 2px dashed grey; /*Added a colored border to the elements for visibility*/
    padding: 2px; /*Added padding*/
    /*flex-basis: 32%; Each element always takes 32% of the screen*/
}

.sk-title{
    font-weight: 900; /*Titles appear in bold*/
}


/*Bottom section/footer*/
.toTop{
    background-color: inherit;
    border: none;
    color: black;
}

.toTop:hover{
    opacity: 0.5;
}

#linkedin{
    max-height: 40px;
    max-width: 40px; 
 }

 /*ancher tags styling to match back to top button style*/
a{
    text-decoration: none;
    color: black;
}
 a:hover{
    opacity: 0.5;
    color: black;
 }